
.main_box{
  font-size:28dp;
  font-family:"Open Sans";
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  padding:8px;
  margin: 20px 10px 20px;

#Read more at: http://www.coderglass.com/social/facebook-style-homepage.php
}
p {
    #text-decoration-line:;
    font-size:38px;

}
.fa-cog {
  color: blue;
}
